@import '../../../../assets/styles/variables.scss';

.table-container {
  overflow-x: auto;
  width: 100%;
  max-width: 56.25rem;
  margin: 0 auto;

  @media (max-width: 48rem) {
    max-width: none;
  }
}

table {
  width: 100%;
  min-width: 37.5rem;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0.0625rem solid $color-secundary;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: $table-bg-color;
  box-shadow: 0 0.25rem 0.375rem $table-shadow-color;
}

thead {
  background-color: $table-header-bg-color;
}

th,
td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 0.0625rem solid $table-row-border-color;
}

th {
  font-size: 1rem;
  color: $table-header-text-color;
}

td {
  font-size: 0.75rem;
  max-width: 15rem;
}

img {
  height: 1.25rem;
  width: 1.25rem;
  cursor: pointer;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3125rem;
}

.tag-button {
  background-color: $tag-button-bg-color;
  color: $tag-button-text-color;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.3125rem 0.625rem;
  font-size: 0.75rem;
  cursor: default;
}