
<div class="form-container">
    <h2 class="form-title">Editar Contacto</h2>
    <form [formGroup]="contactForm" (ngSubmit)="onSave()">
      <div class="input-separator">
        <label>Nombre:</label>
        <br>
        <input formControlName="name" type="text" />
        <div class="error" *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
          El nombre es obligatorio.
        </div>
      </div>
      <div class="input-separator">
        <label>Correo:</label>
        <br>
        <input formControlName="email" type="email" [value]="contactForm.get('email')?.value | lowercase" />
        <div class="error" *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
          Ingresa un correo válido.
        </div>
      </div>
      <div class="input-separator">
        <label>RUT:</label>
        <br>
        <input formControlName="rut" type="text" (input)="onRutInput($event)"/>
        <div class="error" *ngIf="contactForm.get('rut')?.invalid && contactForm.get('rut')?.touched">
          Ingresa un RUT válido.
        </div>
      </div>
      <div class="input-separator">
        <label>Etiquetas:</label>
        <br>
        <div class="tags-container">
          <button
            type="button"
            *ngFor="let tag of availableTags"
            [class.selected]="isTagSelected(tag)"
            (click)="toggleTag(tag)"
          >
            {{ tag }}
          </button>
        </div>
      </div>
      <button type="submit" class="save-button" [disabled]="contactForm.invalid">Guardar</button>
    </form>