@import '../../../../assets/styles/variables.scss';
.nav-side {
  position: fixed;
  top: 0;
  right: 0;
  width: 18.75rem;
  height: 100%;
  background-color: $background-color;
  box-shadow: -0.125rem 0 0.3125rem rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.nav-side.open {
  transform: translateX(0);
}

@media (max-width: 48rem) {
  .nav-side {
    width: 100%;
  }
}

.close-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.close-button .button {
  font-size: 1.25rem;
  cursor: pointer;
  padding-right: 1.5rem;
}
