$background-color: #f4f4f4;
$button-selected-bg-color: #007bff;
$button-hover-bg-color: #e0e0e0;
$error-color: red;
$input-bg-color: #f9f9f9;
$input-text-color: #555;
$input-placeholder-color: #aaa;
$input-focus-border-color: #007bff;
$input-focus-shadow-color: rgba(0, 123, 255, 0.5);

$table-bg-color: #f9f9f9;
$table-header-bg-color: #335eea;
$table-header-text-color: #ffffff;
$table-row-border-color: #ddd;
$table-shadow-color: rgba(0, 0, 0, 0.1);
$tag-button-bg-color: #007bff;
$tag-button-text-color: #ffffff;

$button-save-background: #28a745;
$button-save-border: #218838;
$button-disable-background: #6c757d;
$button-disable: #ffffff;

$color-primary: #ffffff;
$color-secundary: #cccccc;